body {
    margin: 0;
    font-family: sans-serif;
}

#header {
    height: 80px;
    width: 100%;
    background: linear-gradient(90deg, #2B6A7E 0%, #85E39E 100%);
    display: flex;
    position: fixed;
    align-items: center;
    color: white;
}

#header > *:first-child {
    height: 75%;
}

#header > *:not(:last-child) {
    margin: auto 25px;
}

#header > *:first-child > img {
    height: 100%;
}

#header > a:not(.emphasis) {
    opacity: 0.7;
    transition: opacity 0.25s;
}

#header > a:not(.emphasis):hover {
    opacity: 1;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#linkbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: absolute;
    right: 25px;
}

#linkbuttons > a {
    box-shadow: inset -2px -2px 0 #858585, inset 2px 2px 0 #FFFFFF;
    background: #babcb2;
    height: 50px;
    width: 50px;
    margin-left: 3px;
}

#linkbuttons > a > img {
    height: 32px;
    margin: 9px;
}

#linkbuttons > a:active {
    box-shadow: inset -2px -2px 0 #FFFFFF, inset 2px 2px 0 #858585;
}